@{
    ViewData["Title"] = "MusicShop";
}

<div class="text-center">
    <h1 class="display-4">MusicShop - Twój sklep muzyczny!</h1>
    <p>Witaj na stronie MusicShop! Znajdziesz tu najlepsze instrumenty w najlepszych cenach!</p>
</div>
